.simwp-notice {
	margin-left: 0 !important;
	margin-bottom: 0 !important;
}

.simwp-notice-default {
	border-left-color: $default !important;
}

.simwp-notice-primary {
	border-left-color: $primary !important;
}

.simwp-notice-info {
	border-left-color: $info !important;
}

.simwp-notice-success {
	border-left-color: $success !important;
}


.simwp-notice-warning {
	border-left-color: $warning !important;
}

.simwp-notice-danger {
	border-left-color: $danger !important;
}
