@import "scss/variables";
@import "css/jquery.datetimepicker.css";
@import "css/jquery.tag-editor.css";

.simwp-ui {
	.simwp-radio, .simwp-checkbox {
		margin: 0 5px;
		padding: 5px;
	}

	@import "scss/input_lines";

	.nav-tab-wrapper {
		border-bottom : solid 1px #DDD;
	}

	.nav-tab:focus {
		box-shadow: none;
	}

	.simwp-input-image {
		img {
			display: block;
		}
	}

	textarea.simwp-textarea {
		width: 100%;
		min-width: 100%;
		resize: none;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px 10px;
		background: #FAFAFA no-repeat;
	}
}

// @import "scss/material";
